name: Playwright Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Ensure browsers are installed
      run: python -m playwright install --with-deps

    - name: Prepare reports folder for Allure
      run: mkdir -p reports/allure-results
    
    - name: Run your tests
      run: pytest --alluredir=reports/allure-results --tracing=retain-on-failure

    - name: Upload Allure results
      uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        name: allure-results
        path: reports/allure-results
    
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-traces
        path: test-results/

    # Build HTML report from allure-results
    - name: Build Allure HTML report
      if: ${{ always() }}
      uses: simple-elf/allure-report-action@v1.7
      with:
        gh_pages: ""                     # vazio pois não usamos GitHub Pages aqui
        allure_results: reports/allure-results
        allure_history: allure-report    # pasta de saída com o HTML

    - name: Upload Allure HTML report (artifact)
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: allure-report-html
        path: allure-report