name: Playwright Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Ensure browsers are installed
      run: python -m playwright install --with-deps

    - name: Prepare reports folder for Allure
      run: mkdir -p reports/allure-results
    
    - name: Run your tests
      run: pytest --alluredir=reports/allure-results --tracing=retain-on-failure

    - name: Upload Allure results
      uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        name: allure-results
        path: reports/allure-results
    
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-traces
        path: test-results/

    # Gerar report html Allure
    - name: Install Node.js (for allure CLI)
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install Java (OpenJDK 11)
      run: sudo apt-get update && sudo apt-get install -y openjdk-11-jre

    - name: Install Allure CLI (npm)
      run: npm install -g allure-commandline --no-update-notifier --silent

    - name: Build Allure HTML report (local)
      if: ${{ always() }}
      run: |
        # garante que há resultados
        ls -la reports/allure-results || true
        # gera o relatório HTML
        allure generate reports/allure-results -o allure-report --clean

    - name: Upload Allure HTML report (artifact)
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: allure-report-html
        path: allure-report
